body {
  margin: 0;
}


.navbar {
  background-color: #ffffff; 
  padding: 10px; 
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); 
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.logo-container {
  margin-right: auto; 
}

.logo {
  width: 100px; 
  height: auto; 
}